# ==========================
# Core
# ==========================
numpy
pandas
scipy
scikit-learn

# ==========================
# Deep Learning
# ==========================
torch

# ==========================
# NLP
# ==========================
sentence-transformers
transformers

# ==========================
# LLM
# ==========================
google-generativeai
python-dotenv

# ==========================
# LangGraph
# ==========================
langgraph

# ==========================
# ML
# ==========================
xgboost
joblib

# ==========================
# Data
# ==========================
openpyxl

# ==========================
# Jupyter
# ==========================
jupyterlab
ipykernel

# ==========================
# Utilities
# ==========================
tqdm
pydantic